{% extends "base.html" %}
    {% block title %}Добавление диагностики{% endblock %}

      {% block style %}
      .main-content {
        display: flex;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .form-content {
        width: 50%;
        padding-right: 20px;
      }

      .map-content {
        width: 50%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
      }

      #map {
        width: 100%;
        height: 600px;
      }
      .img-size {
        width: 30%;
        height: auto; /* Сохраняет пропорции изображения */
        margin-bottom: 10px; /* Добавляет отступ между изображениями, если их несколько */
      }
      {% endblock %}

        {% block content %}
        <div class="main-content">
            <!-- Левая половина - блоки формы -->
            <div class="form-content">
                {% if edit_mode %}
                    <h2>Изменение диагностики {{ diagnostic['short_title'] }}</h2>
                {% else %}
                    <h2>Добавление новой диагностики</h2>
                {% endif %}

                <form id="diagnosticForm" action="{{ url_for('edit_diagnostic', diagnostic_id=diagnostic['id']) if edit_mode else '/submit_form' }}" method="post" enctype="multipart/form-data">
                    <!-- Первый блок -->
                    <div class="form-section justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h3>Общая информация</h3>
                        <div>
                            <label for="name" class="form-label">Название</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ diagnostic['short_title'] if edit_mode else '' }}" required>
                        </div>
                        <div>
                            <label for="name" class="form-label">Адрес</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ diagnostic['address'] if edit_mode else '' }}" required>
                        </div>
                        <div>
                            <label for="area" class="form-label">Мастер участка</label>
                            <select class="form-select" id="areaid" name="areaid" required>
                                {% for area in areas %}
                                    <option value="{{ area['id'] }}" {% if edit_mode and diagnostic['areaid'] == area['id'] %} selected {% endif %}>{{ area['name'] }}.</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="type" class="form-label">Тип трубопровода</label>
                            <select class="form-select" id="type" name="type" required>
                                <option value="КК" {% if edit_mode and diagnostic['type'] == 'КК' %} selected {% endif %}>КК</option>
                                <option value="ВК" {% if edit_mode and diagnostic['type'] == 'ВК' %} selected {% endif %}>ВК</option>
                                <option value="К" {% if edit_mode and diagnostic['type'] == 'К' %} selected {% endif %}>Другое</option>
                            </select>
                        </div>
                        <div>
                            <label for="type" class="form-label">Тип диагностики</label>
                            <select class="form-select" id="diagnostic_type" name="diagnostic_type" required>
                                <option value="Приемка" {% if edit_mode and diagnostic['diagnostic_type'] == 'Приемка' %} selected {% endif %}>Приемка</option>
                                <option value="Повреждение" {% if edit_mode and diagnostic['diagnostic_type'] == 'Повреждение' %} selected {% endif %}>Повреждение трубы</option>
                                <option value="Без повреждений" {% if edit_mode and diagnostic['diagnostic_type'] == 'Без повреждений' %} selected {% endif %}>Без повреждений</option>
                                <option value="Найден колодец" {% if edit_mode and diagnostic['diagnostic_type'] == 'Найден колодец' %} selected {% endif %}>Найден колодец</option>
                            </select>
                        </div>
                        <div>
                            <label for="date" class="form-label">Дата</label>
                            <input type="date" class="form-control" id="date" name="date" value="{{ diagnostic['date'] if edit_mode else '' }}" required>
                        </div>
                        <div>
                            <label for="diameter" class="form-label">Диаметр, мм</label>
                            <input type="number" class="form-control" id="diameter" name="diameter" value="{{ diagnostic['diameter'] if edit_mode else '' }}" required>
                        </div>
                        <div>
                            <label for="material" class="form-label">Материал</label>
                            <select class="form-select" id="material" name="material" required>
                                <option value="Пластик" {% if edit_mode and diagnostic['material'] == 'Пластик' %} selected {% endif %}>Пластик</option>
                                <option value="Бетон" {% if edit_mode and diagnostic['material'] == 'Бетон' %} selected {% endif %}>Бетон</option>
                                <option value="Кирпичная кладка" {% if edit_mode and diagnostic['material'] == 'Кирпичная кладка' %} selected {% endif %}>Кирпичная кладка</option>
                                <option value="Керамика" {% if edit_mode and diagnostic['material'] == 'Керамика' %} selected {% endif %}>Керамика</option>
                                <option value="Сталь" {% if edit_mode and diagnostic['material'] == 'Сталь' %} selected {% endif %}>Сталь</option>
                                <option value="Чугун" {% if edit_mode and diagnostic['material'] == 'Чугун' %} selected {% endif %}>Чугун</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="distance" class="form-label">Расстояние, м</label>
                            <input type="number" class="form-control" id="distance" name="distance" value="{{ diagnostic['distance'] if edit_mode else '' }}" required>
                        </div>
                    </div>

                    <!-- Второй блок -->
                    <div class="form-section flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
                        <h3>Детали пролета</h3>
                        <div id="spanSection">
                            <div class="sub-section span-group">
                                <div class="mb-3">
                                    <label for="well1" class="form-label">Из колодца</label>
                                    <input type="text" class="form-control" name="well_0" value="{{ diagnostic['count_of_well'] if edit_mode else '' }}" required>
                                </div>
                                <div class="d-flex">
                                    <div class="mb-3 me-2">
                                        <label for="span" class="form-label">Пролет, м</label>
                                        <input type="number" class="form-control" name="span_0" value="{{ diagnostic['distance_between_wells'] if edit_mode else '' }}" required>
                                    </div>
                                    <div class="mb-3 me-2">
                                        <label for="slope" class="form-label">Уклон</label>
                                        <select class="form-select" name="slope_0" required>
                                            <option value="отличный" {% if edit_mode and diagnostic['slope_between_wells'] == 'отличный' %} selected {% endif %}>Отличный</option>
                                            <option value="в норме" {% if edit_mode and diagnostic['slope_between_wells'] == 'в норме' %} selected {% endif %}>В норме</option>
                                            <option value="в горизонте" {% if edit_mode and diagnostic['slope_between_wells'] == 'в горизонте' %} selected {% endif %}>В горизонте</option>
                                            <option value="в контруклоне" {% if edit_mode and diagnostic['slope_between_wells'] == 'в контруклоне' %} selected {% endif %}>Контруклон</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="flow" class="form-label">Течение</label>
                                        <select class="form-select" name="flow_0" required>
                                            <option value="против течения">⬆</option>
                                            <option value="по течению">⬇</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="well2" class="form-label">В колодец</label>
                                    <input type="text" class="form-control" name="well2_0" required>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="addSpanSection()">Добавить пролет</button>
                    </div>

                    <!-- Третий блок -->
                    <div class="form-section flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h3>Детали проблемы</h3>
                        <div id="problemSection">
                            <div class="sub-section problem-group">
                                <div class="mb-3">
                                    <label for="problem" class="form-label">Проблема</label>
                                    <textarea class="form-control" name="problem_0">{{ diagnostic['problems'] if edit_mode else '' }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="problemDistance" class="form-label">Расстояние до проблемы, м</label>
                                    <input type="number" class="form-control" name="problemDistance_0" value="{{ diagnostic['problems_distances'] if edit_mode else '' }}">
                                </div>
                            </div>
                        </div>
                        
                        <button type="button" class="btn btn-secondary" onclick="addProblemSection()">Добавить проблему</button>
                    </div>
                    <div class="mb-3">
                        {% if edit_mode %}
                            Загружено {{ photo_count }} фотографий<br>
                        {% endif %}
                        {% if photo_path %}
                            {% for photo in photo_path %}
                                <div class="photo-item">
                                    <img src="{{ url_for('static', filename=photo) }}" alt="Фото диагностики" class="img-size">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="removePhoto('{{ photo }}')">Удалить</button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <label for="photos">Загрузить фотографии (по одной на проблему):</label>
                        <input type="file" id="photos" name="photos" multiple>
                    </div>
                    <div class="mb-3">
                        {% if edit_mode %}
                            Загружено {{ slope_graph_count }} графиков<br>
                        {% endif %}
                        {% if slope_graph_path %}
                            {% for slope_graph in slope_graph_path %}
                                <div class="slope_graph-item">
                                    <input type="text" class="form-control" value="{{ slope_graph }}" readonly>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="removeSlopeGraph('{{ slope_graph }}')">Удалить</button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <label for="slope_graph">Загрузить графики уклона:</label>
                        <input type="file" id="slope_graph" name="slope_graph" multiple>
                    </div>
                    
                    <div class="form-group mt-3">
                        <input type="hidden" name="coordinates" id="coordinates" value="{{ diagnostic['coordinates'] if edit_mode else '' }}" required>
                    </div>

                    <!-- Отправка формы -->
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>

            <!-- Правая половина - карта -->
            <div class="map-content">
                <h3>Карта</h3>
                <div id="map"></div>
            </div>
        </div>

        <script>
            let spanIndex = 1; // Для отслеживания уникальности индексов пролета
            let problemIndex = 1; // Для отслеживания уникальности индексов проблем

            // JavaScript для добавления новых секций пролета
            function addSpanSection() {
                          const spanSection = document.getElementById('spanSection');
                          const newSpan = document.createElement('div');
                          newSpan.classList.add('sub-section', 'span-group');
                          newSpan.innerHTML = `
                              <div class="mb-3">
                                  <label for="well1" class="form-label">Из колодца</label>
                                  <input type="text" class="form-control" name="well_${spanIndex}" required>
                              </div>
                              <div class="d-flex">
                                <div class="mb-3 me-2">
                                    <label for="span" class="form-label">Пролет, м</label>
                                    <input type="number" class="form-control" name="span_${spanIndex}" required>
                                </div>
                                <div class="mb-3 me-2">
                                    <label for="slope" class="form-label">Уклон</label>
                                    <select class="form-select" name="slope_${spanIndex}" required>
                                        <option value="отличный">Отличный</option>
                                        <option value="в норме">В норме</option>
                                        <option value="в горизонте">В горизонте</option>
                                        <option value="в контруклоне">Контруклон</option>
                                    </select>
                                </div>
                                <div class="mb-3 me-2">
                                    <label for="flow" class="form-label">Течение</label>
                                    <select class="form-select" name="flow_${spanIndex}" required>
                                        <option value="против течения">⬆</option>
                                        <option value="по течению">⬇</option>
                                    </select>
                                </div>
                              </div>
                              <div class="mb-3">
                                  <label for="well2" class="form-label">В колодец</label>
                                  <input type="text" class="form-control" name="well2_${spanIndex}" required>
                              </div>
                          `;
                          spanSection.appendChild(newSpan);
                          spanIndex++;
              }
      
            // JavaScript для добавления новых секций проблемы
            function addProblemSection() {
                          const problemSection = document.getElementById('problemSection');
                          const newProblem = document.createElement('div');
                          newProblem.classList.add('sub-section', 'problem-group');
                          newProblem.innerHTML = `
                              <div class="mb-3">
                                  <label for="problem" class="form-label">Проблема</label>
                                  <textarea class="form-control" name="problem_${problemIndex}" rows="2"></textarea>
                              </div>
                              <div class="mb-3"> 
                                  <label for="problemDistance" class="form-label">Расстояние до проблемы</label>
                                  <input type="number" class="form-control" name="problemDistance_${problemIndex}">
                              </div>
                          `;
                          problemSection.appendChild(newProblem);
                          problemIndex++;
              }
            
            var photosToDelete = [];
            function removePhoto(photo) {
                // Добавляем фото в список для удаления
                photosToDelete.push(photo);
                // Убираем фотографию с экрана
                event.target.closest('.photo-item').remove();
            }

            // Передаем список фотографий для удаления в скрытое поле
            document.querySelector('form').addEventListener('submit', function() {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'photos_to_delete';
                input.value = photosToDelete.join(',');
                this.appendChild(input);
            });

            var SlopeGraphToDelete = [];
            function removeSlopeGraph(slope_graph) {
                // Добавляем график в список для удаления
                SlopeGraphToDelete.push(photo);
                // Убираем график с экрана
                event.target.closest('.slope_graph-item').remove();
            }

            // Передаем список графиков для удаления в скрытое поле
            document.querySelector('form').addEventListener('submit', function() {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'slope_graph_to_delete';
                input.value = SlopeGraphToDelete.join(',');
                this.appendChild(input);
            });
          </script>
        {% endblock %}

    {% block script_second %}
    <script>
      ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [{{ diagnostic['coordinates'] if edit_mode else '52.27,104.31' }}],
                zoom: 13,
            });

            var placemark = new ymaps.Placemark(myMap.getCenter(), {}, {
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: '/static/assets/mark1.png',
                // Размеры метки.
                iconImageSize: [35, 35],
                iconImageOffset: [-10, -10],
                draggable: true // Позволяет перетаскивать маркер
            });

            myMap.geoObjects.add(placemark);
            // Обработчик события щелчка по карте
            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                // Перемещаем маркеры по щелчку в указанные координаты
                placemark.geometry.setCoordinates(coords);
                // Запись координат в скрытое поле
                document.getElementById('coordinates').value = coords.join(',');
            });
        }
    </script>
    {% endblock %}

