{% extends "admin_base.html" %}

            {% block content %}
            <form method="POST" action="{{ url_for('admin_edit_area_form', area_id=area['id']) }}">
                <div class="form-group">
                    <label for="name">Мастер участка (писать без точек)</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ area['name'] }}">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
            {% endblock %}
 
