{% extends "admin_base.html" %}

            {% block content %}
            <form method="POST" action="{{ url_for('admin_add_user') }}">
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" class="form-control" id="username" name="username" value="" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" value="" required>
                </div>
                <div class="form-group">
                    <label for="full_name">Полное имя</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" value="" required>
                </div>
                <div class="form-group">
                    <label for="role">Роль</label>
                    <select class="form-control" id="role" name="role" required>
                        <option value="User">Редактор</option>
                        <option value="Viewer">Пользователь</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="areaid">Участок, только для пользователя</label>
                    <select id="areaid" name="areaid" class="form-control" required>
                        {% for area in areas %}
                            <option value="{{ area['id'] }}" {% if edit_mode and diagnostic['areaid'] == area['id'] %} selected {% endif %}>{{ area['name'] }}.</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Добавить пользователя</button>
            </form>
            
            {% endblock %}
 
