{% extends "admin_base.html" %}

            {% block content %}
            <div>
                <h3>Мастера участков</h3>
              </div>
              <div class="main-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Создан/Изменен</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for area in areas %}
                            <tr>
                                <td>{{ area['id'] }}</td>
                                <td><a href="{{ url_for('admin_edit_area', area_id=area['id']) }}">{{ area['name'] }}.</a></td>
                                <td>{{ area['timestampdata'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('admin_add_area') }}"><button class="btn btn-primary">Добавить участок</button></a>
              </div>
            {% endblock %}

