<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ Панель - PLI Service</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    

    <link href="{{ url_for('static', filename='adm_table.css') }}" rel="stylesheet">

</head>
<body>
    <!-- Header -->
    <div class="header d-flex justify-content-between align-items-center">
        <a href="{{ url_for('index') }}" class="h5 mb-0">PLI Service</a>
        <div class="d-flex align-items-center">
            <span class="mr-3">Вы зашли как {{ session['username'] }}</span>
            <a href="{{ url_for('logout') }}" class="logout-button">Выход</a>
        </div>
    </div>

    <div class="d-flex flex-grow-1">
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column">
            <a href="{{ url_for('admin_panel') }}" class="btn btn-light mb-2">Информация</a>
            <a href="{{ url_for('admin_diagnostics') }}" class="btn btn-light mb-2">Диагностики</a>
            <a href="{{ url_for('admin_users') }}" class="btn btn-light mb-2">Пользователи</a>
            <a href="{{ url_for('admin_areas') }}" class="btn btn-light mb-2">Участки</a>
            <a href="#" class="btn btn-light mb-2">Настройки</a>
        </div>

        <!-- Main Content -->
        <div class="content">
            {% block content %}
            <div>
                <h3>Мастера участков</h3>
              </div>
              <div class="main-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Создан/Изменен</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for area in areas %}
                            <tr>
                                <td>{{ area['id'] }}</td>
                                <td><a href="{{ url_for('admin_edit_area', area_id=area['id']) }}">{{ area['name'] }}.</a></td>
                                <td>{{ area['timestampdata'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('admin_add_area') }}"><button class="btn btn-primary">Добавить участок</button></a>
              </div>
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <script src="{{ url_for('static', filename='assets/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
