{% extends "admin_base.html" %}

            {% block content %}
            <div>
                <h3>Пользователи</h3>
              </div>
              <div class="main-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Логин</th>
                                <th>Полное имя</th>
                                <th>Роль</th>
                                <th>Участок</th>
                                <th>Создан/Изменен</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user['id'] }}</td>
                                <td><a href="{{ url_for('admin_edit_user', user_id=user['id']) }}">{{ user['username'] }}</a></td>
                                <td>{{ user['full_name'] }}</td>
                                <td>{% if user['role'] == 'Admin' %}Админ{% elif user['role'] == 'User' %}Редактор{% else %}Пользователь{% endif %}</td>
                                <td>{% if user['area_name'] != 'Все участки' %}{{ user['area_name'] }}.{% else %}{{ user['area_name'] }}{% endif %}</td>
                                <td>{{ user['timestampdata'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="{{ url_for('admin_add_user') }}"><button class="btn btn-primary">Добавить пользователя</button></a>
              </div>
            {% endblock %}

