{% extends "admin_base.html" %}

            {% block content %}
            <div>
                <h3>Участок {{area['name']}}.</h3>
            </div>
            
            <div class="main-content">
                <div style="width: 50%;">
                <!-- Таблица с информацией о пользователе -->
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <td>{{ area['id'] }}</td>
                    </tr>
                    <tr>
                        <th>Мастер участка</th>
                        <td>{{ area['name'] }}</td>
                    </tr>
                    <tr>
                        <th>Создан/Изменен</th>
                        <td>{{ area['timestampdata'] }}</td>
                    </tr>
                </table>
            </div>
                    <!-- Кнопка "Изменить" и "Удалить", которая ведет на страницу редактирования участка и на страницу удаления -->
                        <a href="{{ url_for('admin_edit_area_form', area_id=area['id']) }}"><button class="btn btn-primary">Изменить данные</button></a>
                        <button class="btn btn-danger" onclick="confirmDeletion()">Удалить участок</button>
                    </div>
            </div>
            {% endblock %}

    {% block script %}
    <script>
        function confirmDeletion() {
            if (confirm("Вы уверены, что хотите удалить участок {{ area['name'] }}.?")) {
                // Redirect to the delete route
                window.location.href = "{{ url_for('admin_delete_area', area_id=area['id']) }}";
            }
        }
    </script>
    {% endblock %}

