{% extends "admin_base.html" %}
    {% block title %}Админ Панель - PLI Service{% endblock %}
    
            {% block content %}
                <div class="container mt-5">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            Информация
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><strong>ID</strong></td>
                                        <td>{{ session['user_id'] }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Логин</strong></td>
                                        <td>{{ session['username'] }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Полное имя</strong></td>
                                        <td>{{ session['full_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Роль</strong></td>
                                        <td>
                                            Администратор
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="mt-3">
                                Вы можете полностью редактировать таблицы "Диагностики", "Пользователи" и "Мастера участков".
                            </p>
                            <a href="{{ url_for('change_password') }}" class="btn btn-warning mt-3">Сменить пароль</a>
                        </div>
                    </div>
                </div>
            {% endblock %}

