{% extends "base.html" %}

{% block title %}PLI Service{% endblock %}

{% block style %}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 10px;

}
{% endblock %}

{% block script %}
<script type="text/javascript">
  ymaps.ready(init);
  function init(){
      var myMap = new ymaps.Map("map", {
          center: [52.27,104.31],
          zoom: 12
      });
  }
</script>
{% endblock %}

    
{% block content %}
  <div class="main-content">
    <div id="map" style="width: 800px; height: 500px"></div>
  </div>
{% endblock %}

      